@charset "CP850";
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?19843796");
  src: url("../font/fontello.eot?19843796#iefix") format("embedded-opentype"), url("../font/fontello.woff?19843796") format("woff"), url("../font/fontello.ttf?19843796") format("truetype"), url("../font/fontello.svg?19843796#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
 *  @font-face {
 *    font-family: 'fontello';
 *    src: url('../font/fontello.svg?19843796#fontello') format('svg');
 *  }
 *} */
html, body {
  margin: 0; }

body {
  font-family: "Montserrat", sans-serif;
  color: #333333; }

@media only screen and (max-width: 500px) {
  body {
    font-size: 0.8em; } }
a {
  color: #73ae2d;
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: underline; }

h2 {
  font-size: 2.5em;
  color: #73ae2d;
  font-family: "Orbitron", sans-serif; }

h3 {
  font-size: 1.8em; }

section {
  padding: 30px 30px 30px 30px; }

header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 11px 30px 16px;
  position: absolute;
  top: 0; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header.fixed {
    position: fixed;
    z-index: 50;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 5px solid #73ae2d; }
    header.fixed .logo {
      margin: 0;
      margin-right: 15px; }
      header.fixed .logo img {
        height: 50px;
        max-width: inherit; }
    header.fixed nav {
      padding-top: 5px; }
      header.fixed nav .download > a {
        padding-top: 22px; }
        @media only screen and (max-width: 960px) {
          header.fixed nav .download > a {
            display: none; } }
      header.fixed nav a span.label {
        display: none; }
      header.fixed nav .sublimeText a span.icon {
        height: 35px;
        width: 35px;
        background: url(../img/sublimetext-logo-small.png) no-repeat 0 3px;
        margin-bottom: 0; }
      header.fixed nav .sublimeText a:hover span.icon {
        background-position-y: 0 -67px; }
      header.fixed nav .npp a span.icon {
        height: 35px;
        width: 43px;
        background: url(../img/npp-logo-small.png) no-repeat 0 top;
        margin-bottom: 0; }
      header.fixed nav .npp a:hover span.icon {
        background-position-y: 0 -65px; }
      header.fixed nav .js a {
        padding: 0 5px; }
      header.fixed nav ul li ul {
        padding-top: 0; }
      header.fixed nav ul li ul li {
        vertical-align: top; }
        header.fixed nav ul li ul li a {
          line-height: 40px;
          display: block;
          height: 40px; }
    header.fixed .social {
      float: right;
      position: static;
      top: auto;
      right: auto;
      padding-top: 5px;
      bottom: 0; }
      header.fixed .social a {
        height: 40px; }
  @media only screen and (max-width: 920px) {
    header.notfixed nav {
      float: None; } }
  @media only screen and (max-width: 1080px) {
    header.notfixed nav .download > a {
      display: none; } }
  header .logo {
    margin-bottom: 15px;
    margin-right: 15px;
    float: left; }
    header .logo a {
      display: block; }
      header .logo a img {
        display: block;
        max-width: 100%; }
  header nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-top: 3px; }
    header nav ul, header nav li {
      margin: 0;
      padding: 0;
      list-style: none; }
    header nav a {
      color: #666666; }
      header nav a:hover {
        text-decoration: none; }
    header nav .download > a {
      padding-left: 50px;
      padding-top: 80px; }
    header nav .examplesLink {
      display: none; }
    header nav .sublimeText a span.icon {
      height: 52px;
      width: 52px;
      display: block;
      background: url(../img/sublimetext-logo.png) no-repeat 0 top;
      margin: auto;
      margin-bottom: 3px; }
    header nav .sublimeText a:hover span.icon {
      background-position-y: -105px; }
    header nav .npp a span.icon {
      height: 52px;
      width: 64px;
      display: block;
      background: url(../img/npp-logo.png) no-repeat 0 top;
      margin: auto;
      margin-bottom: 3px; }
    header nav .npp a:hover span.icon {
      background-position-y: -98px; }
    header nav .js a {
      padding-top: 55px; }
    header nav ul {
      vertical-align: top; }
      header nav ul li {
        display: inline-block;
        padding: 0; }
        header nav ul li a {
          padding-top: 22px;
          padding-right: 5px;
          display: inline-block;
          font-size: 0.9em; }
        header nav ul li ul {
          display: inline-block;
          position: relative;
          top: 5px;
          border-bottom: 5px solid white;
          padding: 0 0 0 5px;
          padding-top: 15px; }
          header nav ul li ul li a {
            margin-right: 5px;
            padding: 0 15px 0 15px;
            border-bottom: 5px solid #73ae2d;
            position: relative;
            top: 5px; }
            header nav ul li ul li a:hover {
              border-color: #333333; }
  header .social {
    position: absolute;
    top: 0px;
    right: 8px; }
    header .social ul, header .social li {
      margin: 0;
      padding: 0;
      list-style: none; }
    header .social ul {
      position: relative;
      top: 5px;
      border-bottom: 5px solid white;
      padding: 0 0 0 5px; }
      header .social ul li {
        display: inline-block;
        padding: 0 0 0 0; }
        header .social ul li a {
          margin-right: 5px;
          position: relative;
          border-bottom: 5px solid #73ae2d;
          top: 5px;
          font-size: 1.6em;
          display: block;
          position: relative;
          color: #666666; }
          header .social ul li a:hover {
            border-color: #333333;
            color: #333333; }
          header .social ul li a span {
            padding: 5px 0px;
            top: 45px;
            left: 50%;
            width: 80px;
            margin: 0 0 0 -40px;
            font-size: 0.5em;
            position: absolute;
            text-align: center;
            display: none; }
          header .social ul li a:hover {
            text-decoration: none; }
            header .social ul li a:hover span {
              display: block; }
          header .social ul li a:before {
            z-index: 1;
            top: 0.16em;
            left: 0.38em;
            display: block;
            text-indent: 0;
            text-align: center; }
          header .social ul li a:after {
            font-size: 1.4em;
            display: block;
            text-indent: 0; }
    header .social .twitter a {
      /* '' */ }
      header .social .twitter a:before {
        content: "\e802";
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: none;
        font-size: inherit;
        width: 1em;
        margin-right: 0.2em;
        text-align: center;
        /* opacity: .8; */
        /* For safety - reset parent styles, that can break glyph codes */
        font-variant: normal;
        text-transform: none;
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: 0.2em;
        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }
    header .social .facebook a {
      /* '' */ }
      header .social .facebook a:before {
        content: "\e801";
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: none;
        font-size: inherit;
        width: 1em;
        margin-right: 0.2em;
        text-align: center;
        /* opacity: .8; */
        /* For safety - reset parent styles, that can break glyph codes */
        font-variant: normal;
        text-transform: none;
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: 0.2em;
        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }
    header .social .github a {
      /* '' */ }
      header .social .github a:before {
        content: "\e803";
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: none;
        font-size: inherit;
        width: 1em;
        margin-right: 0.2em;
        text-align: center;
        /* opacity: .8; */
        /* For safety - reset parent styles, that can break glyph codes */
        font-variant: normal;
        text-transform: none;
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: 0.2em;
        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

section#intro {
  margin-top: 200px; }
  section#intro p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
    margin: 0;
    padding-right: 30px; }

.tryItLabel {
  padding: 0 0 0 30px;
  width: 7.5em;
  margin: 0 50% 0 0;
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.6em;
  color: #73ae2d;
  font-family: "Orbitron", sans-serif;
  /* '' */ }
  .tryItLabel:after {
    content: "";
    display: table;
    clear: both; }
  .tryItLabel:before {
    content: "\e804";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }
  .tryItLabel:before {
    font-size: 3em;
    float: right; }

section#examples {
  padding: 30px 0 30px 0;
  position: relative; }
  section#examples .tryItLabel {
    position: absolute;
    left: 33%;
    top: -3em; }

@media only screen and (max-width: 700px) {
  section#intro p {
    padding-right: 0;
    width: auto; }

  section#examples {
    padding-top: 0px; }
    section#examples .tryItLabel {
      position: relative;
      left: auto;
      top: auto;
      padding-bottom: 15px; } }
.odd {
  background-color: #eeeeee; }

.example:after {
  content: "";
  display: table;
  clear: both; }
.example .explaination {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  float: left;
  padding: 15px 15px 15px 30px; }
.example .tryIt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 66%;
  float: right;
  padding: 15px; }
  .example .tryIt textarea {
    min-height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-left: 5px solid #73ae2d;
    padding: 10px;
    width: 100%; }

@media only screen and (max-width: 600px) {
  .example .explaination {
    padding-left: 15px;
    padding-bottom: 0px;
    float: none;
    width: auto; }
  .example .tryIt {
    padding-top: 0px;
    float: none;
    width: auto; }
    .example .tryIt textarea {
      border-left: 0 none;
      border-top: 5px solid #73ae2d; } }
section#download {
  padding: 30px 0 30px 0; }
  section#download h2 {
    padding: 0 30px 0 30px; }
  section#download > div {
    padding: 30px; }
  section#download h3 {
    margin-top: 0; }
  section#download .editor_site {
    position: relative;
    top: -2.7em;
    font-size: 0.8em; }

.github-get {
  display: block;
  /* '' */ }
  .github-get:before {
    content: "\e803";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }
  .github-get:before {
    color: #333333;
    font-size: 1.5em; }

textarea.full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
