$mainColor: #73ae2d
$almostBlack: #333
$black: #000
$counterColor: #fff
$bg: #fff
$altBg: #eee
$gray: #666
$partLeft: 33%
$partRight: 66%

@import "icons"

@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both

html, body
  margin: 0
  
body
  font-family: 'Montserrat', sans-serif
  color: $almostBlack

@media only screen and (max-width: 500px)
  body
    font-size: 0.8em
      
a
  color: $mainColor
  text-decoration: none
  &:hover
    color: $black
    text-decoration: underline

h2
  font-size: 2.5em
  color: $mainColor
  font-family: 'Orbitron', sans-serif
  
h3
  font-size: 1.8em

section
  padding: 30px 30px 30px 30px
  
header
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  padding: 30px 11px 30px 16px
  @include clearfix
  position: absolute
  top: 0
  &.fixed
    position: fixed
    z-index: 50
    background-color: $bg
    padding-top: 0
    padding-bottom: 0
    border-bottom: 5px solid $mainColor
    .logo
      margin: 0
      margin-right: 15px
      a
        display:block
      img
        height: 50px
        display:block
        max-width: inherit
    nav
      padding-top: 5px
      .download > a    
        padding-top: 22px
        @media only screen and (max-width: 960px)
          display: none
      a 
        span.label
          display: none
      .sublimeText a
        span.icon
          height: 35px
          width: 35px
          background: url(../img/sublimetext-logo-small.png) no-repeat 0 3px
          margin-bottom: 0
        &:hover span.icon
          background-position-y: 0 -67px
      .npp a
        span.icon
          height: 35px
          width: 43px
          background: url(../img/npp-logo-small.png) no-repeat 0 top
          margin-bottom: 0
        &:hover span.icon
          background-position-y: 0 -65px
      .js a
        padding: 0 5px
      ul li ul
        padding-top: 0
      ul li ul li
        vertical-align: top
        a 
          line-height: 40px
          display: block
          height: 40px
    .social
      float: right
      position: static
      top: auto
      right: auto
      padding-top: 5px
      bottom: 0
      a 
        height: 40px
        
  &.notfixed
    nav
      @media only screen and (max-width: 920px)
        float: None
      .download > a    
        @media only screen and (max-width: 1080px)
          display: none
  .logo
    margin-bottom: 15px
    margin-right: 15px
    float: left
    a
      display: block
      img
        display: block
        max-width: 100%
  .navigations
  nav
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    float: left
    padding-top: 3px
    ul, li
      margin: 0
      padding: 0
      list-style: none
    a
      color: $gray
      &:hover
        text-decoration: none
    .download > a    
      padding-left: 50px
      padding-top: 80px
    .examplesLink
      display: none
    .sublimeText a
      span.icon
        height: 52px
        width: 52px
        display: block
        background: url(../img/sublimetext-logo.png) no-repeat 0 top
        margin: auto
        margin-bottom: 3px
      &:hover span.icon
        background-position-y: -105px
    .npp a
      span.icon
        height: 52px
        width: 64px
        display: block
        background: url(../img/npp-logo.png) no-repeat 0 top
        margin: auto
        margin-bottom: 3px
      &:hover span.icon
        background-position-y: -98px
    .js a
      padding-top: 55px
    ul 
      vertical-align: top
      li
        display: inline-block
        padding: 0
        a
          padding-top: 22px
          padding-right: 5px
          display: inline-block
          font-size: 0.9em
        ul 
          display: inline-block
          position: relative
          top: 5px
          border-bottom: 5px solid $bg
          padding: 0 0 0 5px
          padding-top: 15px
          li
            a
              margin-right: 5px
              padding: 0 15px 0 15px
              border-bottom: 5px solid $mainColor
              position: relative
              top: 5px
              &:hover
                border-color: $almostBlack
  .social
    position: absolute
    top: 0px
    right: 8px
    ul, li
      margin: 0
      padding: 0
      list-style: none
    ul
      position: relative
      top: 5px
      border-bottom: 5px solid $bg
      padding: 0 0 0 5px
      li 
        display: inline-block
        padding: 0 0 0 0
        a
          margin-right: 5px
          position: relative
          border-bottom: 5px solid $mainColor
          top: 5px
          font-size: 1.6em
          display: block
          position: relative
          color: $gray
          &:hover
            border-color: $almostBlack
            color: $almostBlack
          span
            padding: 5px 0px
            top: 45px
            left: 50%
            width: 80px
            margin: 0 0 0 -40px
            font-size: 0.5em
            position: absolute
            text-align: center
            display: none
          &:hover
            text-decoration: none
            span
              display: block
          &:before
            z-index: 1
            top: 0.16em
            left: 0.38em
            display: block
            text-indent: 0
            text-align: center
          &:after
            font-size: 1.4em
            display: block
            text-indent: 0
    .twitter a
      @include icon-twitter
    .facebook a
      @include icon-facebook-squared
    .github a
      @include icon-github-circled
          
          
    
section#intro
  margin-top: 200px
  p 
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: $partLeft
    margin: 0
    padding-right: 30px
      
    
.tryItLabel
  @include clearfix
  padding: 0 0 0 30px
  width: 7.5em
  margin: 0 50% 0 0
  display: inline-block
  vertical-align: bottom
  font-size: 1.6em
  color: $mainColor
  font-family: 'Orbitron', sans-serif
  @include icon-tryit-arrow
  &:before
    font-size: 3em
    float: right
    
    
section#examples
  padding: 30px 0 30px 0
  position: relative
  .tryItLabel
    position: absolute
    left: $partLeft
    top: -3em
    
@media only screen and (max-width: 700px)
  section#intro p 
    padding-right: 0
    width: auto
  section#examples 
    padding-top: 0px
    .tryItLabel
      position: relative
      left: auto
      top: auto
      padding-bottom: 15px
  
.odd
  background-color: $altBg
  
.example
  @include clearfix
  .explaination
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: $partLeft
    float: left
    padding: 15px 15px 15px 30px
  .tryIt
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: $partRight
    float: right
    padding: 15px 
    textarea
      min-height: 100px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      border: 0
      border-left: 5px solid $mainColor
      padding: 10px
      width: 100%

@media only screen and (max-width: 600px)
  .example
    .explaination
      padding-left: 15px
      padding-bottom: 0px
      float: none
      width: auto
    .tryIt
      padding-top: 0px
      float: none
      width: auto
      textarea
        border-left: 0 none
        border-top: 5px solid $mainColor

  

section#download
  padding: 30px 0 30px 0
  h2
    padding: 0 30px 0 30px
  &>div
    padding: 30px
  h3
    margin-top: 0
  .editor_site
    position: relative
    top: -2.7em
    font-size: 0.8em
  
      
.github-get
  display: block
  @include icon-github-circled
  &:before
    color: $almostBlack
    font-size: 1.5em
    

textarea.full
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  position: absolute
  width: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0
  